<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    nav{
            background-color: #8d3c3c;


    }
    .navbar {
      background: white;
      margin-bottom: 0;
      border-radius: 0;
    }

  a:active {
      color: red;
  }
    

  </style>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Mmkn 5abar</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/main">Home</a></li>
        <li><a href="/1/cat/">Sport</a></li>
        <li><a href="/2/cat/">Crime</a></li>
        <li><a href="/3/cat/">Films</a></li>
        <li><a href="/4/cat/">Politics</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login!</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
	<li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
